@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Manrope", sans-serif;
    font-size: ;
  }
  input {
    outline: none;
  }
  
}
@layer components {
  .container {
    max-width: 1170px;
    margin: 0 auto;
  }
  .position-detail {
    left: calc(50% - 20px);
  }
  .menu-header{
    transform: translateX(-100%);
    transition: 0.3s;
  }
  #menu-check:checked ~ .menu-header{
    transform: translateX(0%);
  }
  #menu-check:checked ~ .menu-layer{
    display: block;
  }
}


